body {
  height: 100%;
  width: 100%;
  font: 14px Arial, Tahoma, sans-serif;
	background-color: #272f45;
}

input:focus {
  border: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.pr {position: relative;}
.pa {position: absolute;}
.p0 {padding: 0!important;}
.ac {text-align: center;}

h1, h2, h3, h4, h5, h6,
p, li, a, input, button {
  color: #fff;
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/LeagueSpartan-Bold.otf');
}

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('../fonts/HKGrotesk-Light.otf');
}

.wrapper {
  max-width: 1160px;
	margin: 0 auto;
}


/*.wrapper {
  height: 100%;
  width: 1160px;
	margin: 0 auto;
}

.container {
  max-width: 1160px;
	margin: 0 auto;
	padding: 0;
}*/

.btn {
  border: 3px solid #ffcc99;
  text-decoration: none;
  position: relative;
}

.btn:hover {
  background: rgba(255,255,255,.2);
}

.btn:active {
  box-shadow: inset 1px 1px 3px #ffcc99, inset -1px -1px 3px #ffcc99;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.btn:before {
  bottom: 0;
  left: -3px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.btn:after {
  top: 0;
  right: -3px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
.btn:hover:before,
.btn:hover:after{
  height: 106%;
  width: 105%;
  opacity: 1;
}
.btn:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
.btn:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}


.header {
  width: 100%;
  padding: 62px 0 51px;
}

@media (min-width: 570px) {
  a.logo {
    width: 100%;
  }
}
a.logo {
  display: inline-block;
  width: 294px;
}

.search-form {
  width: 176px;
  height: 34px;
  border: none;
  margin-top: 21px;
}

.search-form button {
  position: absolute;
  border: none;
  max-width: 30px;
  max-height: 30px;
  overflow: hidden;
  padding: 0;
  top: -1px;
  left: 0;
  cursor: pointer;
  outline: none;
  background: #272f45;
}

.search-form button:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  background: #272f45 url("../img/search-icon.png") no-repeat center;
}

.search-form input {
  width: 100%;
  height: 100%;
  font: 24px 'HKGrotesk-Light';
  line-height: 24px;
  letter-spacing: 0.023em;
  padding-left: 32px;
  padding-right: 10px;
  border: none;
  background-color: #272f45;
  border-bottom: 3px solid #63757e;
  border-radius: 0;
  padding-bottom: 9px;
  color: #92a1a9;
}

::-webkit-input-placeholder {color:#92a1a9;}
::-moz-placeholder          {color:#92a1a9;}/* Firefox 19+ */
:-ms-input-placeholder      {color:#92a1a9;}

.search-form input:focus {
  outline: none;
}

.prewiew-top {
  height: 690px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  background: #63757e url("../img/gina-product-bg.jpg") no-repeat;
  background-position-x: center;
}
.prewiew-top:before {
  content: '';
  position: absolute;
  top: 37px;
  right: 35px;
  width: 115px;
  height: 115px;
  background: url("../img/kickstarter-badge.png") no-repeat;
  background-position: center;
}

.prewiew-description {
  margin-top: 109px;
  margin-left: 60px;
}

.prewiew-description h1 {
  font: 79px 'LeagueSpartan-Bold';
  text-transform: uppercase;
  line-height: 1.2;
}

.prewiew-description p {
  font: 32px 'HKGrotesk-Light';
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  width: 370px;
  margin-top: 22px;
}

.shop-now-btn-wrap {
  max-width: 162px;
  margin-top: 135px;
  margin-bottom: 35px;
}

.shop-now-btn {
  display: inline-block;
  padding: 12px 22px;
  font: 25px 'HKGrotesk-Light';
  line-height: 1.2;
}

.shop-now-btn:before, .shop-now-btn:after {
    border: none;
}

.product-prewiew {
  margin-bottom: 40px;
}

.product-prewiew__block {
  height: 520px;
  width: calc(50% - 20px);
  float: left;
  overflow: hidden;
}

.product-prewiew__left {
  background-color: #66cccc;
  background: url("../img/beoplay-a1.jpg") no-repeat;
  margin-right: 40px;
  text-align: right;
}

.product-prewiew__right {
  background-color: #6666cc;
  background: url("../img/leica-mp.jpg") no-repeat;
  text-align: left;
}

.product-prewiew__block .h2 {
  font: 48px 'LeagueSpartan-Bold';
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 63px;
  margin-right: 28px;
  margin-left: 28px;
}

.product-prewiew__text {
  font: 24px 'HKGrotesk-Light';
  line-height: 1.2;
  max-width: 450px;
  display: inline-block;
  margin-top: 9px;
  letter-spacing: 0.4px;
}

.product-prewiew__left .product-prewiew__text {
    margin-right: 29px;
}

.product-prewiew__right .product-prewiew__text {
    margin-left: 29px;
}

.bay-btn {
  display: inline-block;
  font: 18px 'LeagueSpartan-Bold';
  line-height: 1.2;
  text-transform: uppercase;
  padding: 14px 39px 7px 38px;
}

.product-prewiew__left .bay-btn-wrap {
  margin-right: 30px;
  margin-top: 62px;
}

.product-prewiew__right .bay-btn-wrap {
    margin-left: 30px;
    margin-top: 62px;
}

.product-prewiew__small {
  margin-bottom: 40px;
  text-align: justify;
}

.product-prewiew__small-block {
  display: inline-block;
  margin-right: 36px;
  text-align: center;
  width: 31%;
  height: 440px;
  overflow: hidden;
}

.product-prewiew__small--left {
  background-color: #ff6666;
  background: url('../img/molekule.jpg') center no-repeat;
}

.product-prewiew__small--center {
  background-color: #557581;
  background: url('../img/p9-signature.jpg') center no-repeat;
}

.product-prewiew__small--right {
  background-color: #99cccc;
  background: url('../img/dr-2.jpg') center no-repeat;
  margin-right: 0;
}

.product-prewiew__small__text {
  font: 14px 'HKGrotesk-Light';
  line-height: 1.2;
  letter-spacing: 0.08em;
}

.product-prewiew__small--left .product-prewiew__small__text,
.product-prewiew__small--right .product-prewiew__small__text {
  margin-top: 66px;
}

.product-prewiew__small-block .h3 {
  font: 36px 'LeagueSpartan-Bold';
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 15px;
}

.product-prewiew__small-block .details-btn-wrap {
  max-width: 123px;
  height: auto;
  margin: 0 auto;
  margin-top: 39px;
}

.product-prewiew__small-block .details-btn {
  text-transform: uppercase;
  font: 18px 'LeagueSpartan-Bold';
  padding: 13px 12px 7px 17px;
  letter-spacing: 0.09em;
}

.product-prewiew__small--center .product-prewiew__small__text {
  margin-top: 262px;
}

.subscribe-block {
  padding-top: 113px;
  padding-bottom: 17px;
  text-align: center;
}
.subscribe-block > * {
  color: #92a1a9;
  font-family: 'HKGrotesk-Light';
}

.subscribe-block .subscribe-block__title {
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 1.4px;
}

.subscribe-block__text {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  padding: 16px 175px;
}

.subscribe-block form {
  padding: 35px 0px;
}

.subscribe-block form input[type="email"] {
  display: block;
  margin: 0 auto;
  font: 24px 'HKGrotesk-Light';
  line-height: 1.2;
  background: none;
  text-align: center;
  border: 3px solid #92a1a9;
  padding: 15px 61px 11px;
  max-width: 360px;
  margin-bottom: 20px;
}
.subscribe-block input:focus,
.subscribe-block form button:focus {
  outline: none;
}

.subscribe-block form button {
  font: 18px 'LeagueSpartan-Bold';
  line-height: 1.2;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background: none;
  border: 3px solid #82c9d8;
  text-align: center;
  padding: 20px 113px 13px 123px;
  max-width: 360px;
  cursor: pointer;
}

.subscribe-block form button:active {
  box-shadow: inset 1px 1px 3px #82c9d8, inset -1px -1px 3px #82c9d8;
  outline: none;
}

.subscribe-block form button:before, .subscribe-block form button:after {
  border: none;
}

.footer {
  text-align: center;
  margin-top: 49px;
  margin-bottom: 70px;
}

.footer * {
  color: #92a1a9;
  font-family: 'HKGrotesk-Light';
}

.footer-nav {
  display: inline-block;
}

.footer-menu li {
  list-style: none;
  float: left;
}

.footer-menu a {
  text-decoration: none;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  padding: 0 16px 0;
}

.footer-menu li:before {
  content: '•';
  font-size: 22px;
}

.footer-menu li:first-child:before {
  content: '';
}

.copyright {
    margin-top: 19px;
}

.footer .copyright p {
  font-size: 18px;
  letter-spacing: 0.25px;
}

@media (max-width: 1200px) {
  .product-prewiew__small {
    text-align: center;
  }
  .product-prewiew__small-block {
    margin-bottom: 40px;
    width: 360px;
  }
  .product-prewiew__small-block:last-child {
    margin-bottom: 0;
  }
  .product-prewiew__small--center {
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .product-prewiew__block {
    width: 560px;
    margin: 0 auto;
    float: none;
  }
  .product-prewiew__left {
    margin-bottom: 40px;
  }

  .product-prewiew__small-block {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .product-prewiew__small-block:last-child {
    margin-bottom: 0;
  }
  .subscribe-block {
    padding-top: 0;
  }
  .subscribe-block__text {
    padding: 16px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 300px;
    margin: 0 5px;
  }

  .header a.logo {
    margin-left: 30px;
    width: 100%;
  }

  .header .search-form {
    width: 90%;
    height: auto;
    float: none;
    margin: 0 auto;
    margin-top: 30px;
  }

  .header .search-form button {
    max-width: 100%;
    max-height: 100%;
    top: auto;
    bottom: 5px;
  }
  .header .search-form button:before {
    width: 35px;
    height: 35px;
  }

  .header .search-form input {
    font-size: 30px;
    padding: 0 10px 0 35px;
    text-align: center;
  }

  .prewiew-top {
    height: auto;
  }

  .prewiew-description p {
    width: auto;
  }
}

@media (max-width: 560px) {
  .product-prewiew__block {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .footer-nav {
    max-width: 440px;
  }
  .footer-menu li {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }
  .footer-menu li:before {
    content: '';
  }

}

@media (max-width: 480px) {
  .prewiew-description {
    margin-top: 170px;
  }

  .header a.logo {
    margin-left: 0;
    text-align: center;
  }

  .shop-now-btn-wrap {
    margin-top: 35px;
  }
}

@media (max-width: 360px) {
  .product-prewiew__small-block {
    width: 100%;
  }
  .subscribe-block form input[type="email"] {
    width: 100%;
    padding: 15px 0 11px;
    box-sizing: border-box;
  }
  .subscribe-block form button {
    width: 100%;
    padding: 20px 0 13px;
  }
}
